<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <title>Formulário</title>
</head>
<body>
  <div class="container">
    <h1>Formulário</h1>
    <form action="/food-create" method="POST">
      <div class="form-group">
        <label for="name">Nome</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Digite o nome">
      </div>
      <div class="form-group">
        <label for="description">Descrição</label>
        <textarea class="form-control" id="description" name="description" rows="3" placeholder="Digite a descrição"></textarea>
      </div>
      <div class="form-group">
        <label for="price">Preço</label>
        <input type="number" class="form-control" id="price" name="price" step="0.01" placeholder="Digite o preço">
      </div>
      
      <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
  </div>
  <script>
    const foodForm = document.getElementById('foodForm');
  
    foodForm.addEventListener('submit', async (event) => {
      event.preventDefault();
  
      const response = await fetch('/foods', {
        method: 'POST',
        body: new FormData(foodForm),
      });
  
      if (response.ok) {
        const result = await response.json();
        alert(result.message); 
      } else {
        const result = await response.json();
        alert(result.message); 
        
      }
    });
  </script>
 
  
  
  
  
  
  

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>